<template>
  <!-- <Navbar /> -->
  <v-container style="justify-content: center; width: 800px; height: 649px">
    <div
      class="
        v-card
        v-theme--light
        v-card--density-default v-card--variant-elevated
      "
      style="
        width: 400px;
        left: 40%;
        position: absolute;
        padding: 15px;
        background-color: lightgrey;
      "
    >
      <div class="col-md-6">
        <div class="card">
          <img
            src="https://img.icons8.com/pastel-glyph/512/user-male-circle.png"
            style="
              margin-left: 40%;
              height: 80px;
              width: 80px;
              position: relative;
            "
          />
          <br />
          <br />
          <div style="margin-left: 18%; position: relative">
            Silahkan Login untuk Masuk Admin
          </div>
          <v-form v-model="valid" ref="form" lazy-validation>
            <v-container>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="email"
                    :rules="emailRules"
                    label="E-mail"
                    required
                  >
                  </v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="[rules.required]"
                    :type="show1 ? 'text' : 'password'"
                    label="Password"
                    counter
                    @click:append="show1 = !show1"
                  ></v-text-field>
                </v-col>
              </v-row>
              <p v-if="errMsg">{{ errMsg }}</p>
            </v-container>
          </v-form>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="register"
            style="margin-left: 40%; position: relative"
          >
            Masuk
          </v-btn>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script setup>
// import Navbar from "../components/NavBar.vue";
import { ref } from "vue";
import {
  getAuth,
  // GoogleAuthProvider,
  // signInWithPopup,
  signInWithEmailAndPassword,
} from "firebase/auth";
import { useRouter } from "vue-router";
const email = ref("");
const password = ref("");
const errMsg = ref();
const router = useRouter();

const register = () => {
  const auth = getAuth();
  signInWithEmailAndPassword(getAuth(), email.value, password.value)
    .then((data) => {
      localStorage.setItem('authenticated',true);
      console.log(auth.currentUser);
      router.push("/tabelAdmin");
    })
    .catch((error) => {
      console.log(error.code);
      switch (error.code) {
        case "auth/invalid-email":
          errMsg.value = "Invalid email";
          break;
        case "auth/user-not-found":
          errMsg.value = "Account anda tidak ditemukan";
          break;
        case "auth/wrong-password":
          errMsg.value = "Password anda salah";
          break;
        default:
          errMsg.value = "Email or password was incorrect";
          break;
      }
    });
};
</script>

<script>
export default {
  components: {
    // Navbar,
  },

  data: () => ({
    items: ["Login (admin)"],
    valid: false,
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+/.test(v) || "E-mail must be valid",
    ],
    show1: false,
    rules: {
      required: (value) => !!value || "Required.",
    },
  }),

  // methods: {
  //   validate() {
  //     window.location.href = "http://localhost:8080/Beranda";
  //   },
  // },
};
</script>
