<template>
  <div class="BantuanIsai">
  <br/>
  
  <v-hover v-slot="{ props }">
    <v-card elevation="10" class="mx-auto" max-width="100%" v-bind="props">
      <v-card-text class="pt-6" style="position: relative">
        
        <h3 class="text-h4" style="color: #2a548c">
        Bantuan
        </h3>
        <!-- <div class="txt font-weight-darken">
          Perbandingan nilai karbon
        </div> -->
      </v-card-text>
    </v-card>
  </v-hover>
  <br>
  <v-card elevation="10" class="mx-auto" max-width="100%" v-bind="props">
  <div>
  <v-img
  width="30%"
  :aspect-ratio="1"
  src="../assets/bantuann.png"
  style="float: Right"
></v-img>
  <v-list-item>
    <v-list-item-content>
      <br />
      <div style="float:left">
        <v-expansion-panels variant="outlined" style="float: left">
          <v-expansion-panel >
            <v-expansion-panel-title expand-icon="mdi-plus" collapse-icon="mdi-minus" >
              <strong >Bagaimana cara mengakses Peta?</strong>
            </v-expansion-panel-title>
            <v-expansion-panel-text>
              <ol>
                <li>Silakan Login terlebih dahulu</li>
                  <li>Gunakan username dan password yang tersedia</li>
                    <li>Jika sudah masuk ke laman Beranda, silakan klik menu Peta</li>
                      <li>Lakukan edit data sesuai kebutuhan Anda</li>
                        <li>Jika sudah, klik button save</li>
              </ol> 
            </v-expansion-panel-text>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-title expand-icon="mdi-plus" collapse-icon="mdi-minus" >
              <strong >Apa itu ISAI?</strong>
            </v-expansion-panel-title>
            <v-expansion-panel-text>
              ISAI (Intelligent System Aerial Imaging)<br> sistem yang mampu menampilkan besaran nilai karbon di suatu wilayah pertanian. Karbon sendiri adalah suatu unsur yang selalu ada dalam berbagai aspek kehidupan khusus nya pertanian
            </v-expansion-panel-text>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-title expand-icon="mdi-plus" collapse-icon="mdi-minus" >
              <strong >Karbon berasal dari apa?</strong>
            </v-expansion-panel-title>
            <v-expansion-panel-text>
              <strong>Sumber terbesar karbon anorganik adalah</strong>
              <ul>
                <li>Batu Gamping</li>
                <li>Dolomit</li>
                <li>Karbon Dioksida</li>
              </ul>
              <br>
            <strong>tetapi jumlah yang signifikan terjadi pada deposit organik, yaitu</strong>
            <ul>
              <li>Batu Bara</li>
              <li>Gambut</li>
              <li>Minyak</li>
              <li>Metana Klatrat</li>
              <br>
              <p>(Sumber: wikipedia.org)</p>
            </ul>
            </v-expansion-panel-text>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-title expand-icon="mdi-plus" collapse-icon="mdi-minus" >
              <strong >Mengapa karbon itu penting?</strong>
            </v-expansion-panel-title>
            <v-expansion-panel-text>
              <ol>
                <li>Mampu memaksimalkan perdagangan karbon</li>
                <li>Mampu mengevalusiasi suatu sektor untuk menghitung antara sarapan dan luaran karbon</li>
                <li>Karbon adalah bagian yang penting dalam kehidupan di Bumi. Ia memiliki peran yang penting dalam struktur, biokimia, dan nutrisi pada semua sel makhluk hidup.</li>
              <br>
                <p>(Sumber: www.icdx.co.id, id.thpanorama.com)</p>
              </ol>
            </v-expansion-panel-text>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-title expand-icon="mdi-plus" collapse-icon="mdi-minus" >
              <strong >Mengapa website tidak bisa di akses?</strong>
            </v-expansion-panel-title>
            <v-expansion-panel-text>
              <ul>
                <li>Tidak terhubung ke internet</li>
                <li>penulisan halaman URL salah</li>
                <li>Restart Browser</li>
                <li>Bersihkan cache pada browser</li>
                <li>Muat ulang halaman</li>
  <br>
                <strong>*Apabila berbagai langkah tersebut tidak dapat mengatasi permasalahan di atas anda dapat menghubungi pihak customer service pada menu bantuan, kontak kami</strong>
              </ul>
            </v-expansion-panel-text>
            
          </v-expansion-panel>
        </v-expansion-panels>
      </div>

      
    </v-list-item-content>
  </v-list-item>
</div>
</v-card>
  <br />

  <v-list-item>
    <v-list-item-content>
      <v-card variant="tonal" elevation="10" class="mx-auto" max-width="100%" v-bind="props">
  <div class="text-left">
        <v-img
        color="primary"
        v-bind="props"
        width="23%"
        :aspect-ratio="1"
        src="../assets/beelogo.png"
        style="float: left"
      ></v-img>
    <v-card variant="tonal" >Beehive Drones didirikan pada tahun 2017 oleh sekelompok mahasiswa Indonesia di Manchester, Inggris yang bertujuan membawa kekuatan drone ke bidang Industri konvensional. <br>Para pendiri percaya bahwa di dunia yang kompetitif dan bergerak cepat ini, efisiensi menjadi aspek penting dan drone adalah alat yang sangat kuat untuk mencapainya. Saat ini, Beehive Drones memproduksi sistem drone, sensor IoT, sistem pengawasan, dan sistem manajemen pelacakan. <br>Teknologi signature swarm drones Beehive Drones telah membawa tim menjadi juara nasional, perwakilan Asia Pasifik, dan finalis dunia di Imagine Cup 2018 oleh Microsoft. <br>Setelah terdaftar di Indonesia dengan nama PT Aerotek Global Inovasi, tim Beehive Drones semakin kuat dan diterima dengan baik oleh berbagai industri di Indonesia. Kami bekerja baik untuk sektor swasta maupun pemerintah, memuaskan dahaga industri akan teknologi canggih yang inovatif, andal, dan terjangkau. Dengan moto 'Redefining the Possibilities', perjalanan Beehive Drone masih jauh dari selesai.Impian Beehive Drones adalah untuk membantu industri dalam merangkul teknologi modern, mengejar tujuan efisiensi mereka, dan menjadi mitra tepercaya untuk Revolusi Industri 4.0.</v-card>
  </div>
</v-card>
</v-list-item-content>
</v-list-item>

  <v-hover>
  </v-hover>
  <br />
  <v-hover>
    
  </v-hover>
  </div>

  <br>
  <v-list-item>
    <v-list-item-content>
      <v-card elevation="10" class="mx-auto" max-width="100%" v-bind="props">
        <v-card-text class="pt-6" style="position: relative">
      <div>
        <h1><strong>Nilai Kami</strong></h1>
        <br>
        <v-ol>
          <li> <b>Integritas</b> <br>Kami menghormati komitmen kami dengan standar etika tertinggi.</li><br>
          <li><b>Keselamatan</b> <br>Kami menghargai nyawa manusia dan menjalankan prosedur keselamatan dengan standar tertinggi.</li><br>
          <li><b>Kualitas</b> <br>Kami berusaha untuk kualitas yang sangat baik dan peningkatan berkelanjutan dari teknologi kami.</li><br>
          <li><b>Inovatif</b> <br>Kami berusaha untuk belajar dan terbuka untuk tantangan baru.</li><br>
          <li><b>Ketekunan</b> <br>Kami berkomitmen untuk terus memberikan layanan terbaik kami meskipun ada tantangan.</li><br>
          <li><b>Sinergi</b> <br>Kami sangat menghargai tim kami dan bersemangat untuk berinvestasi dalam mempercepat pertumbuhan tim.</li><br>
        </v-ol>
      </div>
    </v-card-text>
    </v-card>
<br>
<br>
<v-card
 elevation="10" class="mx-auto text-center" max-width="100%" v-bind="props"
      >
        <v-card-text>
          <v-btn
          target="_blank" v-bind:href="social.url"
            v-for="social in socials"
            :key="social"
            class="mx-4 white--text"
            icon>
            <v-icon size="24px">
              {{ social.icon }}
            </v-icon>
          </v-btn>
        </v-card-text>
        <br>
        <v-card-text class="white--text pt-0">
          <h2><strong>Kontak Kami</strong></h2>
      <br>
      <p><i class="mdi-email mdi v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true"></i> E-mail: contact@bvdrones.com</p>
      <p><i class="mdi-phone mdi v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true"></i> Telp: 0819-1901-1293</p>
      <p><i class="mdi-map-marker mdi v-icon notranslate v-theme--light v-icon--size-default" aria-hidden="true"></i> Alamat: Jalan Arjuna No.4b, Wirobrajan, Kota Yogyakarta, Daerah Istimewa Yogyakarta 55252 </p>
      <br>
        </v-card-text>
  
        <v-divider></v-divider>
  
        <v-card-text class="white--text" variant="outlined">
          {{ new Date().getFullYear() }} —  <strong>Beehive Drones - PT. Aerotek Global Inovasi || MBKM Kedaireka FTI UKDW</strong>
        </v-card-text>
      </v-card>

    </v-list-item-content>
  </v-list-item>

</template>

    
<script>
export default {
  data: () => ({
    socials: [
      { name:"facebook", icon:"mdi-facebook-messenger", url:"https://facebook.com/beehivedrone?_rdc=1&amp;_rdr"},
      {name:"linkedin", icon:"mdi-linkedin", url:"https://linkedin.com/company/beehivedrones/"},
      {name:"instagram", icon:"mdi-instagram", url:"https://instagram.com/beehivedrones/"}
      
    ],
    }),
}
</script>
<style scoped>
v-ol {
  list-style-type: decimal;
}
</style>
