<template>
  <div >
    
    <v-list-item-content>
      <br />
      
      <v-hover v-slot="{ props }">
        <v-card elevation="10" class="mx-auto" max-width="1480px" v-bind="props">
          <v-card-text class="pt-6" style="position: relative">
            <h3 class="text-h4 mb-3" style="color:#2a548c">
              Selamat Datang di KalkulISAI
            </h3>
            <div class="txt font-weight-darken"  >
              Sistem berbasis cerdas yang dapat memprediksi nilai karbon berdasarkan citra yang Anda miliki.<br />
              <i>Intelligent system</i> yang dapat menghitung dan memprediksi nilai karbon secara aktual dan
              presisi.
            </div>
          </v-card-text>
        </v-card>
      </v-hover>
    <v-col>
      
      <v-row>
        <v-col><v-img src="../assets/kalku.png" style="height:300px;"></v-img></v-col>
      </v-row>
        <v-row>
            <v-col><h1 align="center">Didukung Oleh</h1></v-col>
        </v-row>
        <v-row>
          <v-col><v-img src="../assets/kedaireka.png" class="img"></v-img></v-col>
            <v-col><v-img src="../assets/ukdw-new.png" class="img"></v-img></v-col>
            <v-col><v-img src="../assets/fti.png" class="img"></v-img></v-col>
          
           
            <v-col><v-img src="../assets/logo-beehive-drones.png" class="img"></v-img></v-col>
        </v-row>
    </v-col>

      <br>
      <br>
      <v-hover v-slot="{ props }">
        <v-card elevation="10" class="mx-auto" max-width="1480px" v-bind="props">
          <v-card-text class="pt-6" style="position: relative">
            <h2 class="text-h4" style="color: #2a548c">
              <b>Layanan Kami</b>
            </h2>
          </v-card-text>
        </v-card>
      </v-hover>
      <div>

        <v-timeline  >
          <v-timeline-item size="mini" elevation="10" width="1410px">
            <template v-slot:icon >
              <v-avatar><v-img src="../assets/1.png"></v-img></v-avatar>
            </template>
            <template v-slot:opposite> </template>
            <v-card elevation="10" >
              <v-card-title class="text-h6 font-light text-black ">
                Menghitung nilai karbon di gambar Anda.
              </v-card-title>
            </v-card>
          </v-timeline-item>
        </v-timeline>
  
        <v-timeline>
          <v-timeline-item size="mini" elevation="10" width="1410px">
            <template v-slot:icon>
              <v-avatar><v-img src="../assets/2.png"></v-img></v-avatar>
            </template>
            <template v-slot:opposite> </template>
            <v-card elevation="10" >
              <v-card-title class="text-h6 font-light text-black ">
                Menampilkan data karbon pada sebuah lahan sesuai dengan lokasi yang akan ditentukan.
              </v-card-title>
            </v-card>
          </v-timeline-item>
        </v-timeline>
  
        <v-timeline>
          <v-timeline-item size="mini" elevation="10" width="1410px">
            <template v-slot:icon>
              <v-avatar><v-img src="../assets/3.png"></v-img></v-avatar>
            </template>
            <template v-slot:opposite> </template>
            <v-card elevation="10" >
              <v-card-title class="text-h6 font-light text-black ">
                Pendeteksian melalui citra digital guna meningkatkan citra dan kualitas lahan.
              </v-card-title>
            </v-card>
          </v-timeline-item>
        </v-timeline>
  
        <v-timeline>
          <v-timeline-item size="mini" elevation="10" width="1410px">
            <template v-slot:icon>
              <v-avatar><v-img src="../assets/4.png"></v-img></v-avatar>
            </template>
            <template v-slot:opposite> </template>
            <v-card  elevation="10" >
              <v-card-title class="text-h6 font-light text-black ">
                Mengolah data serta informasi dari citra digital.
              </v-card-title>
            </v-card>
          </v-timeline-item>
        </v-timeline>
        

        <v-divider></v-divider>
      </div>
      <br />
    </v-list-item-content>
  </div>
</template>


<script>
export default {
  //
};
</script>

<style>
.txt{
  font-size: 15px;
}

.img{
  height: 150px;

}
</style>
