<template>
  <div>
    <v-list-item-content>
      <br />
      <v-hover v-slot="{ props }">
        <v-card elevation="10" class="mx-auto" max-width="100%" v-bind="props">
          <v-card-text class="pt-6" style="position: relative">
           
            <h3 class="text-h4" style="color:#2a548c">
              Grafik Karbon
            </h3>
            <!-- <div class="txt font-weight-darken">
              Perbandingan nilai karbon
            </div> -->
          </v-card-text>
        </v-card>
      </v-hover>
      <br>
      <v-container style="width: 100%; height: 100%">
        <v-card elevation="10" >
          <v-table density="compact">
            <thead>
              <tr>
                <th >
                  <v-select v-model='hst' class="down" :items="periode" label="HST" outlined variant="solo" dense max-width="150">
                  </v-select>
                </th>
                <th >
                  <v-select v-model='com' class="down" :items="comodity" label="Komoditas" outlined variant="solo" dense max-width="150">
                  </v-select>
                </th>
                <th>
                  <v-btn @click="loadFilter">Terapkan</v-btn>
                   
                  <v-btn @click="deleteFilter" color="red-darken-4">Hapus</v-btn>
                </th>
              </tr>
            </thead>
          </v-table>
          <div class="bg_konten">
            <canvas id="data-tren"></canvas>
          </div>
        </v-card>
      </v-container>
    </v-list-item-content>
  </div>
 
</template>
 
<style>
 
.bg_konten{
background-color: white;
}
</style>
 
<script>
import Chart from 'chart.js'
import datatrenChartData from '../data/maptren.js'
import axios from 'axios'
export default {
/* eslint-disable */
name: 'datatren',
data() {
  return {
    hst: sessionStorage.getItem('hst'),
    com: sessionStorage.getItem('com'),
 
    periode: [
      'Semua', 'HST 0', 'HST 1', 'HST 2',
    ],
    comodity: [
      'Semua', 'Padi', 'Cabai', 'Kentang',
    ],
 
   
    datatrenChartData: datatrenChartData,
   
  }
},
methods: {
  loadFilter(){
    sessionStorage.setItem('hst', this.hst);
    sessionStorage.setItem('com', this.com);
 
    location.reload();
  },
  deleteFilter(){
    sessionStorage.removeItem('hst','');
    sessionStorage.removeItem('com','');
 
    location.reload();
  }
},
mounted() {
  var hst = this.hst;
  var com = this.com;
 
  const ctx = document.getElementById('data-tren');
  axios.get('https://sk695s0owe.execute-api.us-east-1.amazonaws.com/dev/maps/').
  then(function(response){
      var label = [];
      var karbonTanah = [];
      var karbonTanaman = [];
      const data = response.data.body.features
      for (let i = 0 ; i < data.length ; i++){
      console.log(data[i].properties.id_sample)
      if (data[i].properties.hst == hst && data[i].properties.comodity == com) {
      label.push(data[i].properties.id_sample);
      karbonTanah.push(data[i].properties.carbon_tanah);
      karbonTanaman.push(data[i].properties.carbon_tanaman);
  } else if (hst == 'Semua' && data[i].properties.comodity == com) {
      label.push(data[i].properties.id_sample);
      karbonTanah.push(data[i].properties.carbon_tanah);
      karbonTanaman.push(data[i].properties.carbon_tanaman);
  } else if (com == 'Semua' && data[i].properties.hst == hst) {
      label.push(data[i].properties.id_sample);
      karbonTanah.push(data[i].properties.carbon_tanah);
      karbonTanaman.push(data[i].properties.carbon_tanaman);
  } else if (hst == 'Semua' && com == 'Semua') {
      label.push(data[i].properties.id_sample);
      karbonTanah.push(data[i].properties.carbon_tanah);
      karbonTanaman.push(data[i].properties.carbon_tanaman);
  }
}
 
 
      return [label, karbonTanah, karbonTanaman];
  }).then(value => [datatrenChartData.data.labels, datatrenChartData.data.datasets[1].data, datatrenChartData.data.datasets[0].data] = value).then(function(){
    new Chart(ctx, datatrenChartData);
  });
}
}
</script>

