
  <template>
    <router-link to="/tabelAdmin">
      <v-btn style="float: left">Kembali</v-btn>
    </router-link>
  <v-btn @click="logout" style="float: right" color="red-darken-4"> Keluar </v-btn>
  <br />
  <br />

  <v-hover v-slot="{ props }">
    <v-card
      class="mx-auto"
      color="grey-lighten-4"
      max-width="1800"
      v-bind="props"
    >
      <v-card-text class="pt-6" style="position: relative">
        <div class="font-light text-blue text-h6 mb-2">
          Selamat Datang, Admin
        </div>
        <div class="font-weight-light text-h7 mb-2">
          Intelligent System Aerial Imaging dapat memonitor dinamika karbon dan
          perubahan kualitas lingkungan pada lahan pertanian secara aktual dan
          presisi serta memprediksi nilai karbon di lahan pertanian berdasarkan
          citra udara (aerial image) dari pesawat tanpa awak (drone).<br />
        </div>
      </v-card-text>
    </v-card>
  </v-hover>
  <br />

  <v-form v-model="valid">
    <v-container style="width: 900px; height: 500%">

     
      <v-row class="row">
        <v-col class="tags">Tanggal Upload</v-col>
        <v-col md="4">
          <v-text-field
            v-model="date"
            class="input"
            name="date"
            label="Tanggal"
            type="date"
            required
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row class="row">
        <v-col class="tags">Kode Sample</v-col>
        <v-col cols="12" md="4">
          <v-text-field  v-model="sample" class="input"  label="Sample" name="sample" required>
            <!-- {{long}} -->
          </v-text-field>
        </v-col>
      </v-row>

      <v-row class="row">
        <v-col class="tags">Hari Setelah Tanam</v-col>
        <v-col md="4">
          <v-select
            v-model="hst"
            class="input"
            label="Pilih Hari Setelah Tanam"
            :items="[
              'HST 0',
              'HST 1',
              'HST 2',
            ]"
            required
          >
          </v-select>
        </v-col>
      </v-row>

      <v-row class="row">
        <v-col class="tags">Lokasi</v-col>
        <v-col cols="12" md="4">
          <v-text-field v-model="loc" class="input" name="loc" label="Lokasi" required> </v-text-field>
        </v-col>
      </v-row>

      <v-row class="row">
        <v-col class="tags">Komoditas</v-col>
        <v-col cols="12" md="4">
          <v-select
            v-model="comodity"
            class="input"
            name="comodity"
            label="Pilih Komoditas"
            :items="['Padi', 'Kentang', 'Cabai']"
            required
          >
          </v-select>
        </v-col>
      </v-row>

      <v-row class="row">
        <v-col class="tags">Latitude</v-col>
        <v-col md="4">
          <v-text-field class="input"  v-model="lat"  label="Titik Latitude" required>
          </v-text-field>
        </v-col>
      </v-row>

      <v-row class="row">
        <v-col class="tags">Longitude</v-col>
        <v-col cols="12" md="4">
          <v-text-field  v-model="long" class="input"  label="Titik Longitude" required>
            <!-- {{long}} -->
          </v-text-field>
        </v-col>
      </v-row>

      <v-row class="row">
        <v-col class="tags">Upload Foto RGB</v-col>
        <v-col md="4">
          <v-file-input
          v-model="uploadRGB"
          @change="addPhoto($event)"
          type="file"
            class="input"
            label="Upload Foto"
            accept="image/jpg, image/png, image/jpeg"
            required
          >
          </v-file-input>
        </v-col>
      </v-row>

      <v-row class="row">
        <v-col class="tags">Upload Foto NIR</v-col>
        <v-col md="4">
          <v-file-input
          v-model="uploadNIR"
          @change="addNIR($event)"
          type="file"
            class="input"
            label="Upload Foto"
            accept="image/jpg, image/png, image/jpeg"
            required
          >
          </v-file-input>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
  <v-btn class="mr-4" @click="submitForm" color="green-darken-4"> Tambah </v-btn>
  <v-btn @click="clear"> Hapus </v-btn>
</template>
  


<script>
import { useRouter } from "vue-router";
import { v4 as uuidv4 } from 'uuid';
import axios from "axios";

var uuid = uuidv4();
console.log(uuid);
export default {
  data: function(){
    return {
      id:null,
      sample:'',
      date:'',
      hst:'',
      loc : '',
      comodity:'',
      // carbon_tanah:'',
      // carbon_tanaman:'',
      long:'',
      lat:'',
      uploadRGB:'',
      uploadNIR:''
    }
  },
  setup() {
    const router = useRouter();
    const logout = () => {
      localStorage.setItem("authenticated", false);
      router.push("/admin");
    };
    return { logout };
  },
  methods:{
    
      addPhoto: function(event){
        this.uploadRGB = event.target.files[0];
        
      },  
      clear () { 
            Object.assign(this.$data, this.$options.data()); 
        }, 
      addNIR: function(event){
              // Get uploaded file

          this.uploadNIR = event.target.files[0];
           
        },
    
    submitForm: async function(){

      
      this.id = String(uuid);
      // console.log(this.id);
      axios
              .post('https://sk695s0owe.execute-api.us-east-1.amazonaws.com/dev/',{
                            id: this.id,
                            id_sample:this.sample,
                            date:this.date,
                            hst:this.hst,
                            loc : this.loc,
                            comodity: this.comodity,
                            lat:this.lat,
                            long:this.long,
                            
                          
              }).catch((err) => {
                  this.error = err.message;
     
              });

              let binaryRGB = await this.readBinary(this.uploadRGB)
              const urlRGB = 'https://nl227f95td.execute-api.us-east-1.amazonaws.com/dpl/citra-rgb-kedaire/'+this.id+'.png';
           
              let bytesRGB = new Uint8Array(binaryRGB.length);

              for (let x=0; x < binaryRGB.length; x++) {
                  bytesRGB[x] = binaryRGB.charCodeAt(x);
              }
              const contentType = 'image/png';
              let fileRGB = new Blob([bytesRGB], {type: contentType});
              axios.post(urlRGB,fileRGB,{headers:{'Content-Type':'image/png'}})

              
              let binaryNIR = await this.readBinary(this.uploadNIR)
             
              
              const urlNIR = 'https://nl227f95td.execute-api.us-east-1.amazonaws.com/dpl/citra-nir-kedaireka/'+this.id+'.png';
           
              let bytesNIR = new Uint8Array(binaryNIR.length);

              for (let i=0; i < binaryNIR.length; i++) {
                  bytesNIR[i] = binaryNIR.charCodeAt(i);
              }
           
              let fileNIR = new Blob([bytesNIR], {type: contentType});
              axios.post(urlNIR,fileNIR,{headers:{'Content-Type':'image/png'}});


           

      if(this.id == String(uuid)){ 
          alert('Berhasil') 
          this.$router.push("/tabelAdmin"); 
        } 
        else{ 
          alert('Gagal') 
        } 

    },
    readBinary:function(file){
      return new Promise((resolve, reject) => {
        let reader= new FileReader();
        reader.onload = function(){
          resolve(reader.result)
        }
        reader.onerror = reject
        reader.readAsBinaryString(file)
      })

    }
   
  },
}
</script>
  
  <style>
</style>