<template>
  <div >
  
      <br>
      <v-hover v-slot="{ props }">
        <v-card elevation="10" class="mx-auto" max-width="1480px" v-bind="props">
          <v-card-text class="pt-6" style="position: relative">
            
            <h3 class="text-h4" style="color:#2a548c">
              Kalkulator Karbon ISAI
            </h3>
            <div class="txt font-weight-darken">
              Langkah-langkah penggunaan kalkulator karbon :
            </div>
          </v-card-text>
        </v-card>
      </v-hover>
      <br>
      
      <v-card elevation="10" class="mx-auto" max-width="1480px" v-bind="props">
        <v-card-text class="pt-6" style="position: relative">
<div>
      <div class="kiri">
        <v-timeline  >
          <v-timeline-item size="mini" elevation="10">
            <template v-slot:icon >
              <v-avatar><v-img src="../assets/1.png"></v-img></v-avatar>
            </template>
            <template v-slot:opposite> </template>
            <v-card elevation="10" >
              <v-card-title class="text-h6 font-light text-black">
                Pilih gambar yang Anda inginkan
              </v-card-title>
              <v-card-text class="txt">
                Tekan "Unggah Citra" atau tombol kamera yang tersedia. Gambar harus memiliki ekstensi .PNG
              </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
  
        <v-timeline>
          <v-timeline-item size="mini" elevation="10">
            <template v-slot:icon>
              <v-avatar><v-img src="../assets/2.png"></v-img></v-avatar>
            </template>
            <template v-slot:opposite> </template>
            <v-card elevation="10" >
              <v-card-title class="text-h6 font-light text-black ">
                Tekan tombol "Unggah"
              </v-card-title>
              <v-card-text class="txt">
                Dengan menekan tombol "Unggah", gambar akan dikirim untuk diproses oleh machine learning yang akan menghitung prediksi karbon di gambar tersebut.
              </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
  
        <v-timeline>
          <v-timeline-item size="mini" elevation="10">
            <template v-slot:icon>
              <v-avatar><v-img src="../assets/3.png"></v-img></v-avatar>
            </template>
            <template v-slot:opposite> </template>
            <v-card elevation="10" >
              <v-card-title class="text-h6 font-light text-black ">
                Tunggu nilai karbon
              </v-card-title>
              <v-card-text class="txt">
                Hasil prediksi nilai karbon membutuhkan beberapa waktu untuk bisa ditampilkan. Jadi, jangan panik, hasilnya pasti akan keluar!
              </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
  
        <v-timeline>
          <v-timeline-item size="mini" elevation="10">
            <template v-slot:icon>
              <v-avatar><v-img src="../assets/4.png"></v-img></v-avatar>
            </template>
            <template v-slot:opposite> </template>
            <v-card  elevation="10" >
              <v-card-title class="text-h6 font-light text-black ">
                Lihat nilai karbon
              </v-card-title>
              <v-card-text class="txt">
                Hasil prediksi nilai karbon akan ditampilkan di dalam box kecil yang bertuliskan "Nilai Karbon"
              </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
        
        <v-timeline>
          <v-timeline-item size="mini" elevation="10">
            <template v-slot:icon>
              <v-avatar><v-img src="../assets/5.png"></v-img></v-avatar>
            </template>
            <template v-slot:opposite> </template>
            <v-card elevation="10" >
              <v-card-title class="text-h6 font-light text-black ">
                Hapus nilai karbon</v-card-title>
                <v-card-text class="txt">
                  Sebelum meninggalkan halaman, jangan lupa untuk menekan tombol "Hapus", ya!
                </v-card-text>
              </v-card>
            </v-timeline-item>
          </v-timeline>
          <v-divider width="2000px"></v-divider>
        </div>

        <br >
          <div id="con">
            <v-card
            max-width="500"
              style="background-color:#cfd9e5; top:3px; left:20px"
              v-bind="props"
              :elevation="isHovering ? 24 : 6"
              class="mx-auto pa-6 ma-4 rounded-card"
            >
              <v-form v-model="valid" >
                <v-container >
                  
                    <v-row class="row" >
                      <v-col style="width: 940px" >
                        <v-file-input
                        v-model="kalku"
                          show-size
                          counter
                          multiple
                          class="input"
                          prepend-icon="mdi-camera"
                          outlined
                          name="kalku"
                          label="Unggah Citra"
                          variant="filled"
                          @change="getImage($event)"
                          accept="image/png"
                          required
                        ></v-file-input>
                      </v-col>
                    </v-row>
                  
                </v-container >
              </v-form>
              <br>
              <v-row align="center" justify="space-around" >
                <div>
                  <v-btn
                    class="mr-4"
                    @click="submitForm"
                    color="blue-darken-4"
                  >
                    Unggah
                  </v-btn>
  
                  <v-btn
                    class="mr-4"
                    @click="deleteResult"
                    color="red-darken-4"
                  >
                    Hapus
                  </v-btn>
                </div>
              </v-row>
              <br>
              <br>
              <v-card class="mx-auto" max-width="350" height="50" variant="outlined">
                <v-card-title>
                  <div class="result">
                    <h3 align="center">Nilai Karbon: {{ text }}</h3>
                    <v-card-text>
                      <h1 ></h1>
                    </v-card-text>
                  </div>
                </v-card-title>
              </v-card>
            </v-card>
          </div>
        </div>
      </v-card-text>
      </v-card>
          <br />
      
    </div>
  
        
  
  </template> 
   
  <script>
  import { v4 as uuidv4 } from "uuid";
  import axios from "axios";
  
  var uuid = uuidv4();
  export default {
    data: function () {
      return {
        items: {
          id: "",
          kalku: "",
          
        },
        text: sessionStorage.getItem("carbon_tanah"),
      };
    },
  
    methods: {
      getImage: function (event) {
        this.kalku = event.target.files[0];
      },
  
      submitForm: async function () {
        this.id = String(uuid);

        let kalkuImage = await this.readBinary(this.kalku);
        const url =
          "https://nl227f95td.execute-api.us-east-1.amazonaws.com/dpl/kalkulator-isai/" +
          this.id +
          ".png";
        const urlCalcu =
          "https://sk695s0owe.execute-api.us-east-1.amazonaws.com/dev/kalkuisai/" +
          this.id +
          ".png";
  
        let bytes = new Uint8Array(kalkuImage.length);
  
        for (let x = 0; x < kalkuImage.length; x++) {
          bytes[x] = kalkuImage.charCodeAt(x);
        }
        const contentType = "image/png";
        let file = new Blob([bytes], { type: contentType });
        await axios.post(url, file, { headers: { "Content-Type": "image/png" } });
  
        setTimeout(function () {
          axios.get(urlCalcu).then((resp) => {
            // console.log(resp.data)
            sessionStorage.setItem("carbon_tanah", resp.data.body.carbon_tanah);
            location.reload();
          });
        }, 500);
      },
      readBinary: function (file) {
        return new Promise((resolve, reject) => {
          let reader = new FileReader();
          reader.onload = function () {
            resolve(reader.result);
          };
          reader.onerror = reject;
          reader.readAsBinaryString(file);
        });
      },deleteResult() {
      sessionStorage.clear();
      location.reload();
    },
  },
};
</script> 
<style>
#con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blu{
  background-color: #597aa6;
}

.txt{
  font-size: 15px;
  text-align: justify;
}

.kiri{
  float: left;
  width: 415px;
}
</style>