<template>
  <div>
    <v-navigation-drawer v-model="drawer" permanent location="left" width="250" class="bgcs">
      <v-list>
        <router-link to="/" class="logos">
          <v-list-item>
            <v-list-item-content>
              <v-img
                style="
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  width: 70%;
                "
                :aspect-ratio="1"
                src="../assets/real.jpg"
              ></v-img>
            </v-list-item-content>
          </v-list-item>
        </router-link>
      </v-list>
  
      <v-divider></v-divider>
      
  
      <v-list density="compact" nav >
        <router-link to="/" class="logos">
          <v-list-item
            
            prepend-icon="mdi-home-circle"
            title="Beranda"
            value="home"
          ></v-list-item>
        </router-link>

        <router-link to="/kalku" class="logos">
          <v-list-item
            prepend-icon="mdi-calculator"
            title="Kalkulator"
            value="calculator"
          ></v-list-item>
        </router-link>
  
        <router-link to="/map" class="logos">
          <v-list-item
            prepend-icon="mdi-map"
            title="Peta"
            value="map"
          ></v-list-item>
        </router-link>
  
        <router-link to="/grafik" class="logos">
          <v-list-item
            prepend-icon="mdi-chart-bar"
            title="Grafik"
            value="chart"
          ></v-list-item>
        </router-link>

        
  
        <router-link to="/bantuan" class="logos">
          <v-list-item
            prepend-icon="mdi-help-circle"
            title="Bantuan"
            value="help"
          ></v-list-item>
        </router-link> 
      </v-list>

      <template v-slot:append>
        <v-list density="compact" nav >
          <v-divider class="divider"></v-divider>
          <router-link to="/admin"  class="logos" >
            <v-list-item
              prepend-icon="mdi-account-circle"
              title="Admin"
              value="account"
            ></v-list-item>
          </router-link>
        </v-list>
    </template>
  
    </v-navigation-drawer>
  </div>
    
  </template>
  
  <script>
  export default {
    data() {
      return {
        drawer: true, 
      };
    },
    //
  };
  </script>
  
  <style>
  .logos {
    text-decoration: none;
    color:  #0f3466;
  }

  .bgcs {
    background-color: #ffffff ;
  }
    
  .divider {
    font-size: 15px;
  }
  
  </style>
