<template>
  <v-container style="width: 100%; height: 100%">
    <v-card  elevation="20" height="100%" width="100%" style="margin-top: -6px;">
      <v-row>
        <v-col>
          <p class="text-h5 font-weight-medium pt-5 ms-8" style="color:#2a548c">Riwayat Karbon 
            
            <router-link to="/map">
            
              <v-btn color="red-darken-4" style="float:right;right:30px">Kembali</v-btn>
      
            </router-link>
            <br> 
            <v-table density="compact">
              <thead>
                <tr>
                  <th >
                    <h2 v-html="titik" style="text-align :center;"></h2>
                  </th>
                </tr>
              </thead>
            </v-table>
      
            
          </p>
          
        </v-col>
      </v-row>
      
      <br>
     
      <div class="bg_konten">
        <canvas id="data-tren"></canvas>
      </div>
    </v-card>
  </v-container>
</template>

<script>
import Chart from 'chart.js'
import datatrenChartData from '../data/datatren.js'
import axios from 'axios'
export default {
/* eslint-disable */
name: 'datatren',
data() {
  return {
    hst: sessionStorage.getItem('hst'),
    titik: this.$route.params.id,
    datatrenChartData: datatrenChartData,
    
  }
},
mounted() {
  var titik = this.$route.params.id;
  console.log(titik)
  // var hst = this.hst;
  const ctx = document.getElementById('data-tren');
  var url = 'https://sk695s0owe.execute-api.us-east-1.amazonaws.com/dev/maps/all';
  axios.get(url).
  then(function(response){
    console.log(response.data);
      var label = [];
      var karbonTanah = [];
      var karbonTanaman = [];
      for (let i = 0 ; i < response.data.body[titik].length ; i++){
    
        label.push(response.data.body[titik][i].date);
        karbonTanah.push(response.data.body[titik][i].carbon_tanah);
        karbonTanaman.push(response.data.body[titik][i].carbon_tanaman);
      } 
      return [label, karbonTanah, karbonTanaman];
  }).then(value => [datatrenChartData.data.labels, datatrenChartData.data.datasets[1].data, datatrenChartData.data.datasets[0].data]= value).then(function(){
    new Chart(ctx, datatrenChartData);
  });

}
}
</script>

<style>
.wrapper_color_bg{
background-color: #134280;
}
.right{
  float: right;
}
.bg_konten{
background-color: white;
}
</style>