
<template>
  <v-container style="width: 900px; height: 100%;">
    <v-row>
      <v-col>
        <router-link to="/halAdmin" class="crud">
          <v-btn>Tambah Data</v-btn>
        </router-link>
      </v-col>
      <v-col>
        <p id="alert">Selamat Datang!</p>
      </v-col>
      <v-col>
        <v-btn color="red-darken-4" @click="logout" style="float: right">
          Keluar
        </v-btn>
      </v-col>
    </v-row>
    <div style="display: flex; justify-content: center; margin-top: 20px;">
      <v-table fixed-header height="800px" style="width: 900px; border-radius: 5px; box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
      border-radius:6px;">
        <thead>
          <tr>
            <th>Kode Sample</th>
            <th>Lokasi</th>
            <th>Komoditas</th>
            <th>HST</th>
            <th>Tanggal</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
            <!-- <th>Koordinat</th> -->
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in content" :key="item.properties.id">
            <td>{{ item.properties.id_sample }}</td>
            <td>{{ item.properties.loc }}</td>
            <td>{{ item.properties.comodity }}</td>
            <td>{{ item.properties.hst }}</td>
            <td>{{ item.properties.date}}</td>
            <td>{{ item.geometry.coordinates[0] }}</td>
            <td>{{ item.geometry.coordinates[1] }}</td>
            
            <td>
              <v-tooltip text="Hapus">
                <template v-slot:activator="{ props }">
                  <v-btn @click="deleteData(item.properties.id,item.properties.date)" class="btn" color="red" icon="mdi-trash-can" size="small" v-bind="props">
                  </v-btn>
                </template>
              </v-tooltip>
            </td>
          </tr>
        </tbody>
      </v-table>
    </div>
  </v-container>
</template>
  
<style>
.crud {
  text-decoration: none;
}

#alert {
  font-size: 14px;
  text-align: center;
}
</style>
  
<script>
import { useRouter } from "vue-router";
import axios from "axios";

export default {
  data() {
    return {
      content: undefined,
      id: null,
      date: null
    }
  },
  methods: {
    deleteData: async function (id,date) {
     
      this.id = id;
      this.date =date;

     
      await axios
      .post('https://sk695s0owe.execute-api.us-east-1.amazonaws.com/dev/deleteitem/', {
              id:this.id,
              date:date
       
        })
        
        .then((resp)=>{
          console.log(resp.data)
          this.$router.go() 
        })
    }
  },
    setup() {
      const router = useRouter();
      const logout = () => {
        localStorage.setItem("authenticated", false);
        router.push("/admin")
      };
      return { logout };
    },
    mounted() {
      axios.get('https://sk695s0owe.execute-api.us-east-1.amazonaws.com/dev/maps/')
        .then((resp) => {
          this.content = resp.data.body.features;
          console.log(this.content)
        })
    }
  }


</script>