<template>
  <v-app>
    <nav-bar />
    <v-main class="bgcal">

      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import NavBar from "./components/NavBar.vue"


export default {
  name: "App", 

  components: {
    NavBar,

  },

  data: () => ({
    //
  }),
};
</script>

<style>
@font-face {
  font-family: customFonts;
  src: url(./assets/font/BellotaText-Bold.ttf);
}
.bgcal{
  background-color: #efeff0;
  font-family: customFonts;
}
</style>